@model List<Order>
@{
    float sum = 0;
    foreach (var i in Model)
       sum = sum + i.products.Price;
}
<h4>The total price = @sum.ToString("C2")</h4>

<div class="row">
@foreach (var i in Model)
{

    <div class="card col-4 m-3" style="width: 18rem;">
        <img src="~/images/@(i.products.Image).jpg" class="card-img-top" width="500px" height="250px" alt="...">
        <div class="card-body">
            <p class="card-text">@i.products.Name</p>
            <p class="card-text">Price: @i.products.Price.ToString("C2")</p>
            <p>Quantity: @i.Quantity</p>
            <button class="btn btn-danger"><a asp-action="deleteOrder" asp-route-id="@i.OrderID">Remove</a></button>
        </div>
    </div>
    
}
</div>

